/* INDEX */
/* icon BS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Montserrat&display=swap");

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  margin: auto;
  position: relative;
}

.navbar,
.offcanvas,
.porto .nav-pills .nav-link.active,
.contact a .bi,
.btn-pesan {
  background-color: #47425d;
}

.contact a .bi:hover,
#myBtn {
  background-color: #fabd19;
}

.navbar a,
.offcanvas-header,
.contact a .bi,
.btn-pesan {
  color: #f5f5f5;
}

.porto .nav-pills .nav-link.active,
.navbar a:hover {
  color: #fabd19;
}

.offcanvas .btn-close {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fabd19'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
}

.navbar-toggler {
  border-color: #fabd19;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(250, 289, 25, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-expand-lg .navbar-nav .nav-link {
  margin-right: 1rem;
}

/* hero */
.carousel-item img {
  object-position: center;
}

.carousel-caption {
  top: 40%;
}

.overlay-carousel {
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

/* our-history */
.bg-img {
  background-image: url("../img/wasylko-studio-canon-nikon-74453-1.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  position: relative;
}

/* service */
.service-inner {
  background-color: #f5f5f5;
  margin: 1rem;
  padding: 1rem;
  border-radius: var(--bs-border-radius) !important;
}

.service-inner i {
  font-size: calc(1.525rem + 3.3vw);
}

/* porto */
.porto .nav-pills .nav-link {
  color: #000000;
}

.img-porto img {
  margin: 0.5rem 0;
  object-fit: cover;
  object-position: center;
}

/* footer */
.footer {
  border-top: #47425d;
  border-top-style: solid;
  border-width: 5px;
  margin-bottom: 1rem;
}

.contact a {
  text-decoration: none;
}

.contact a .bi {
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 1.2rem;
  transition: 0.5s background-color;
}

.contact a .bi:hover {
  text-decoration: none;
  color: #47425d;
}

#myBtn {
  color: #e64e4e;
  display: none;
  position: fixed;
  bottom: 120px;
  right: 16px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 18px;
  height: 3rem;
  width: 3rem;
  transition: 0.5s background-color;
}

#myBtn:hover {
  background-color: #e64e4e;
  color: #f5f5f5;
  border: 2px #47425d;
}

/* TRIP */
.btn-pesan {
  margin-bottom: 1rem;
}

/* BLOG */
.blog-content {
  max-width: 800px;
}

.blog-content a {
  text-decoration: none;
  color: #000000;
}

/* TEAM */
.team {
  border: none;
}

.team-img {
  max-height: 500px;
  object-fit: cover;
  object-position: center;
}

.overlay-wrap {
  position: relative;
}

.overlay-wrap:hover img {
  opacity: 0.7;
}

.overlay-wrap:hover .overlay-hover {
  opacity: 1;
}

.overlay-hover {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay-hover-text a {
  text-decoration: none;
  background-color: #47425d;
  color: #fabd19;
  padding: 0.5rem 1.5rem;
  border-radius: 0.3rem;
}

/* media max */
@media (max-width: 767px) {
  .contact {
    width: 100%;
  }

  .trip img {
    max-width: 150px;
    margin: 0.5rem auto;
  }

  .overlay-carousel {
    display: none;
  }

  .overlay-hover-text,
  .overlay-hover,
  .overlay-wrap:hover img,
  .overlay-wrap:hover .overlay-hover {
    display: none;
  }
}

/* INDEX-2 */
/* .porto-2 .carousel {
  max-width: 500px;
} */

.mycard {
  display: grid;
  place-items: center;
  /* max-width: 21.875rem; */
  min-height: 28rem;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  margin-bottom: 3rem;
}

.mycard > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card__background {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.card__content {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 55%;
  padding: 12% 1.25rem 1.875rem;
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.3) 10%, hsl(0, 0%, 0%) 100%);
  color: #f5f5f5;
}

.card__content--container {
  --flow-space: 1.25rem;
}

.card__title {
  position: relative;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
}

.card__title::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--brand-color);
}

.card__button {
  padding: 0.75em 1.6em;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 0.45em;
  border: none;
  background-color: var(--brand-color);
  font-family: var(--font-title);
  font-size: 1.125rem;
  color: var(--black);
}

.card__button:focus {
  outline: 2px solid black;
  outline-offset: -5px;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .card__content {
    transform: translateY(62%);
    transition: transform 300ms ease-out;
    transition-delay: 300ms;
  }

  .card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 500ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }

  .card__background {
    transition: transform 500ms ease-in;
  }

  .card__content--container > :not(.card__title),
  .card__button {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .mycard:hover,
  .mycard:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
  }

  .mycard:hover .card__content,
  .card:focus-within .card__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .mycard:focus-within .card__content {
    transition-duration: 0ms;
  }

  .mycard:hover .card__background,
  .card:focus-within .card__background {
    transform: scale(1.3);
  }

  .mycard:hover .card__content--container > :not(.card__title),
  .mycard:hover .card__button,
  .mycard:focus-within .card__content--container > :not(.card__title),
  .mycard:focus-within .card__button {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 5 00ms;
  }

  .mycard:hover .card__title::after,
  .mycard:focus-within .card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}
